<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Xacton
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Default" class="waves-effect"><i class="feather-airplay"></i><span>Siteye Git</span></a>
                </li>
                <li>
                    <a href="/Admin" class="waves-effect"><i class="feather-airplay"></i><span>Araba Sayfasi</span></a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span>Araba Ozellik Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminBanner" class="waves-effect"><i class="feather-airplay"></i><span>Banner Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminService" class="waves-effect"><i class="feather-airplay"></i><span>Hizmetler Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminAbout" class="waves-effect"><i class="feather-airplay"></i><span>Hakkimizda Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminBrand" class="waves-effect"><i class="feather-airplay"></i><span>Araba Markasi Sayfasi</span></a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span>Blog Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminCategory" class="waves-effect"><i class="feather-airplay"></i><span>Kategori Sayfasi</span></a>
                </li>
                <li>
                    <a href="/AdminPricing" class="waves-effect"><i class="feather-airplay"></i><span>Odeme Turu Sayfasi</span></a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span>Cikis Yap</span></a>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>