@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutHead.cshtml")

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutNavBar.cshtml")

        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutSideBar.cshtml")
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                @RenderBody() <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            @await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutFooter.cshtml")
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Overlay-->
    @await Html.PartialAsync("~/Views/AdminLayout/AdminLayoutScript.cshtml")

</body>

</html>