@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeadComponentPartial")

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    @await Component.InvokeAsync("_AdminHeaderComponentPartial")

    <!-- ========== Left Sidebar Start ========== -->
    @await Component.InvokeAsync("_AdminVerticalMenuComponentPartial") 
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                @RenderBody()
                <!-- end page title -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        @await Component.InvokeAsync("_AdminFooterComponentPartial")

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Overlay-->
@await Component.InvokeAsync("_AdminScriptComponentPartial")

</body>

</html>
