@model List<CarBook.Dto.BlogDTOs.ResultGetAllBlogWithAuthorDto>

@foreach (var item in Model)
{
    <h2 class="mb-3">@item.Title</h2>
    <p>@item.Description</p>
    <p>
        <img src="images/image_7.jpg" alt="" class="img-fluid">
    </p>
    
}
