@model CarBook.Dto.BlogDTOs.ResultGetAllBlogWithAuthorDto


    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>
    <p>
        <img src="@Model.CoverImageUrl" alt="" class="img-fluid">
    </p>
    
