@model CarBook.Dto.FooterAdressDTOs.UpdateFooterAdressDto

@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Arac Guncelleme Sayfasi</h4>
        <p class="card-subtitle mb-4">Sisteme Eklediginiz Arabalari Guncelleyebilirsiniz </p>

        <form asp-action="UpdateFooter"  asp-controller="AdminFooter" method="post">

            <div class="form-group">
                <label>Adres</label>
                <input type="text" asp-for="Adress" placeholder="Adres" class="form-control">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" asp-for="Email" placeholder="Email" class="form-control">
            </div>

            <div class="form-group">
                <label>Açıklama</label>
                <input type="text" asp-for="Description" placeholder="Açıklama" class="form-control">
            </div>

            <div class="form-group">
                <label>Telefon Numarası</label>
                <input type="text" asp-for="PhoneNumber" placeholder="Telefon Numarası" class="form-control">
            </div>

            <div class="form-group">
                <label>Facebook Link</label>
                <input type="text" asp-for="FacebookLink" placeholder="Facebook Link" class="form-control">
            </div>

            <div class="form-group">
                <label>Instagram Link</label>
                <input type="text" asp-for="InstagramLink" placeholder="Instagram Link" class="form-control">
            </div>

            <div class="form-group">
                <label>Twitter Link</label>
                <input type="text" asp-for="TwitterLink" placeholder="Twitter Link" class="form-control">
            </div>


            <button type="submit" class="btn btn-success">
                Güncelle
            </button>

        </form>
    </div>
    <!-- end card-body-->
</div>