<div class="vertical-menu">

        <div data-simplebar class="h-100">

            <div class="navbar-brand-box">
                <a href="/AdminCar/Index" class="logo">
                    <i class="mdi mdi-alpha-x-circle"></i>
                    <span>
                            CARBOOK
                        </span>
                </a>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Menu</li>
                    <li><a href="/Default/Index" class=" waves-effect"><i class="feather-home"></i><span>Siteye Git</span></a></li>
                    <li><a href="/AdminCar/Index" class=" waves-effect"><i class="feather-calendar"></i><span>Araba Sayfasi</span></a></li>
                    <li><a href="/AdminFeatures/Index" class=" waves-effect"><i class="feather-calendar"></i><span>Araba Ozellikleri</span></a></li>
                    <li><a href="/AdminBrand/Index" class=" waves-effect"><i class="feather-calendar"></i><span>Araba Markasi</span></a></li>
                    <li><a href="/AdminBanner/Index" class=" waves-effect"><i class="feather-calendar"></i><span>Banner Alanı</span></a></li>
                    <li><a href="/AdminFooter/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Footer Düzenleme</span></a></li>
                    <li><a href="/AdminLocation/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Lokasyon Düzenleme</span></a></li>
                    <li><a href="/AdminService/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Hizmetleri Düzenleme</span></a></li>
                    <li><a href="/AdminTestimonial/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Testimonial Düzenleme</span></a></li>
                    <li><a href="/AdminBlog/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Blog Düzenleme</span></a></li>
                    <li><a href="/AdminAuthor/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Blog Yazar Düzenleme</span></a></li>
                    <li><a href="/AdminComment/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Blog Yorum Düzenleme</span></a></li>
                    <li><a href="/AdminCategory/Index" class=" waves-effect"><i class="feather-fast-forward"></i><span>Kategori Düzenleme</span></a></li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>