  <header id="page-topbar">
        <div class="navbar-header">

          
            <div class="d-flex align-items-center">

     
                

                <div class="dropdown d-inline-block ml-2">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="~/Admin/vertical/assets/images/users/avatar-3.jpg"
                             alt="Header Avatar">
                        <span class="d-none d-sm-inline-block ml-1">Ahmet Guvendik</span>
                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                    </button>
                
                </div>

            </div>
        </div>
    </header>