@{

    Layout = null;
}
@model CarBook.Dto.PricingDTOs.UpdatePricingDto

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme</h4>
                <p class="card-subtitle mb-4">Guncellemek Istediginiz Hizmeti Yaziniz</p>

                <form asp-controller="AdminPricing" asp-action="UpdatePricing" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Tur</label>
                        <input type="text" class="form-control" placeholder="Tur Giriniz" asp-for="@Model.Name">
                    </div>

                    <button>
                        Guncelle
                    </button>

                </form>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div> <!-- end col -->


</div>