@model List<CarBook.Dto.TestimonialDTOs.ResultTestimonialDto>

@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Testimonial Sayfası</h4>
                <p class="card-subtitle mb-4">Site Bütünlüğü İçin 4 Tane Hizmet Girilebilir.
                </p>
                <div class="table-responsive">

                    <table class="table mb-12">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>İsim Soyisim</th>
                            <th>Yorum</th>
                            <th>Image URL</th>
                            <th>Sil</th>
                            <th>Guncelle</th>
                        </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>@item.Title</td>
                                <td>@item.Name</td>
                                <td>@item.Comment</td>
                                <td>@item.ImageURL</td>
                                <td><a href="/AdminTestimonial/RemoveTestimonial/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/AdminTestimonial/UpdateTestimonial/@item.Id" class="btn btn-outline-success">Guncelle</a></td>

                            </tr>
                            </tbody>
                        }
                    </table>
                    @if (Model.Count <  4)
                    {
                        <a href="/AdminTestimonial/CreateTestimonial/">Yeni Testimonial Ekleme</a>
                    }
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->



    <!-- end col -->
</div>