@model CarBook.Dto.TestimonialDTOs.UpdateTestimonialDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Testimonial Güncelleme Sayfasi</h4>
        <p class="card-subtitle mb-4">Güncellemek İstediğiniz Testimonial Giriniz </p>

        <form asp-action="UpdateTestimonial"  asp-controller="AdminTestimonial" method="post">

            <div class="form-group">
                <label>Başlık Giriniz</label>
                <input type="text" asp-for="Title" placeholder="Başlık Giriniz" class="form-control">
            </div>
            
            <div class="form-group">
                <label>Açıklama Giriniz</label>
                <input type="text" asp-for="Name" placeholder="Açıklama Giriniz" class="form-control">
            </div>
            
            <div class="form-group">
                <label>Yorum Giriniz</label>
                <input type="text" asp-for="Comment" placeholder="Yorum Giriniz" class="form-control">
            </div>

            <div class="form-group">
                <label>Image URL Giriniz</label>
                <input type="text" asp-for="ImageURL" placeholder="Image URL Giriniz" class="form-control">
            </div>

            <button type="submit" class="btn btn-success">
                Güncelle
            </button>


        </form>
    </div>

</div>