@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    <!-- END nav -->

    @await Component.InvokeAsync("_DefaultHeadUILayoutComponentPartial")

    @await Component.InvokeAsync("_RentACarComponent")
    


    @await Component.InvokeAsync("_Get5CarsWithBrandsComponentPartial")


    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_BecomeADriverComponentPartial")

    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")
    @await Component.InvokeAsync("_Get3BlogWithAuthorComponentPartial")

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    <!-- loader -->

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
    

</body>
</html>