@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<CarBook.Dto.AdminDTOs.ResultBrandDto>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Arabalar</h4>
                <p class="card-subtitle mb-4">
                    Sisteme kayıtlı olan arabaları buradan görebilmektesiniz
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Araba Markasi</th>
                                <th>Sil</th>
                                <th>Guncelle</th>
                                <th>Sayfada Gor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <th scope="row">@Model.Count</th>
                                    <td>@item.Name</td>
                                    <td><a href="/AdminBrand/RemoveBrand/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/AdminBrand/UpdateBrand/@item.Id" class="btn btn-outline-success">Guncelle</a></td>
                                    <td><a href="/AdminBrand/UpdateCar/@item.Id" class="btn btn-outline-success">Sayfada Gor</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girisi</a>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>