@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<CarBook.Dto.ServiceDTOs.ResultServiceDto>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmetlerimiz</h4>
                <p class="card-subtitle mb-4">
                    Sisteme Kayitli Hizmetleri Buradan Gorebilirsiniz
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Baslik</th>
                                <th>Aciklama</th>
                                <th>Icon URL</th>
                                <th>Sil</th>
                                <th>Guncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <th scope="row">@Model.Count</th>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.IconURL</td>
                                    <td><a href="/AdminService/RemoveService/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/AdminService/UpdateService/@item.Id" class="btn btn-outline-success">Guncelle</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    <a href="/AdminService/CreateService/" class="btn btn-outline-primary">Yeni Hizmet Girisi</a>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>