@model CarBook.Dto.BlogDTOs.CreateBlogDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Arac Ekleme Sayfasi</h4>
        <p class="card-subtitle mb-4">Sisteme Eklemek Istediginiz Yeni Araba </p>

        <form asp-action="CreateBlog"  asp-controller="AdminBlog" method="post">
            <div class="form-group">
                <label for="simpleinput">Kategori Seçiniz</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>) ViewBag.Category, new {@class="form=control"})
            </div>

            <div class="form-group">
                <label for="simpleinput">Yazar Seçiniz</label>
                @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>) ViewBag.Author, new {@class="form=control"})
            </div>

            <div class="form-group">
                <label>Başlık</label>
                <input type="text" asp-for="Title" placeholder="Başlık" class="form-control">
            </div>

            <div class="form-group">
                <label>Açıklama</label>
                <input type="text" asp-for="Description" placeholder="Açıklama" class="form-control">
            </div>

            <div class="form-group">
                <label>Kapak Fotoğrafı URL</label>
                <input type="text" asp-for="CoverImageUrl" placeholder="Kapak Fotoğrafı URL" class="form-control">
            </div>


            <button type="submit" class="btn btn-success">Submit
                Ekle
            </button>


        </form>
    </div>
    <!-- end card-body-->
</div>