@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                

                @await Component.InvokeAsync("_BlogDetailGetBlogComponentPartial", new { id = ViewBag.blogId })
               
                @await Component.InvokeAsync("_BlogDetailAuthorDetailComponentPartial" , new { id = ViewBag.blogId })

                @await Component.InvokeAsync("_BlogDetailGetCommentComponentPartial")


            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_BlogDetailSideBarSearchComponentPartial")

                @await Component.InvokeAsync("_BlogDetailCategoryComponentPartial")

                @await Component.InvokeAsync("_BlogDetailRecentBlogComponentPartial")

            </div>

        </div>
    </div>
</section> 