@{

    Layout = null;
}
@model CarBook.Dto.CategoryDTOs.CreateCategoryDto

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Kategori Ekleme</h4>
                <p class="card-subtitle mb-4">Eklemek Istediginiz Blog Kategoriyi Yaziniz</p>

                <form asp-controller="AdminCategory" asp-action="CreateCategory" method="post">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Model</label>
                        <input type="text" class="form-control" placeholder="Kategori Giriniz" asp-for="@Model.Name">
                    </div>

                    <button>
                        Kaydet
                    </button>

                </form>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div> <!-- end col -->


</div>