@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

@model List<CarBook.Dto.CategoryDTOs.ResultCategoryDto>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Kategorileri</h4>
                <p class="card-subtitle mb-4">
                    Sisteme kayıtlı olan Blog Kategorilerini buradan görebilmektesiniz
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori Adi</th>
                                <th>Sil</th>
                                <th>Guncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                    count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td><a href="/AdminCategory/RemoveCategory/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/AdminCategory/UpdateCategory/@item.Id" class="btn btn-outline-success">Guncelle</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    <a href="/AdminCategory/CreateCategory/" class="btn btn-outline-primary">Yeni Kategori Girisi</a>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>